* {
  box-sizing: border-box;
  font-family: lato;
}

p,
label,
input {
  font-size: 12px;
}

h3 {
  font-size: 14px;
}

h2 {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  font-family: Arial;
}

::-webkit-scrollbar {
  display: none;
}
